{template 'public/header'}
<div class="alert alert-info">
	<h1>门店独立账号调整</h1>
	<h4>1.系统在1.5.1版本对门店独立账号进行调整.调整后,每个门店可添加一个门店管理员,多个店员,管理员拥有门店的所有权限,可在web端登陆后台进行门店管理. 店员只能在手机端进行订单等信息操作.</h4>
	<br>
	<h4>2.此次变更不兼容以前的数据.因此,公众号需要重新给每个门店添加门店管理员.具体操作: 点击"门店管理", 在门店列表, 点击门店独立账号, 即可为每个门店添加单独的管理员</h4>
	<br>
	<h4>3.此次调整后, 门店的管理员有独立的登陆入口和界面. 具体地址: <a href="{$_W['siteroot']}addons/we7_wmall_plus/admin" target="_blank">{$_W['siteroot']}addons/we7_wmall_plus/admin</a>.注意: 公众号管理不能从此登陆入口进行登陆.</h4>
</div>
{template 'public/footer'}