{template 'public/header'}
{template 'plateform/config-nav'}
<form class="form-horizontal form" id="form1" action="" method="post" enctype="multipart/form-data">
	<div class="main">
		<div class="panel panel-default">
			<div class="panel-heading">配送员申请设置</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>是否短信验证手机号</label>
					<div class="col-sm-9 col-xs-12">
						<label class="radio-inline"><input type="radio" name="mobile_verify_status" value="1" {if $config_delivery['mobile_verify_status'] == 1}checked{/if}> 验证手机号</label>
						<label class="radio-inline"><input type="radio" name="mobile_verify_status" value="2" {if $config_delivery['mobile_verify_status'] == 2 || !$config_delivery['mobile_verify_status']}checked{/if}> 不验证</label>
						<div class="help-block">开启验证手机号,需要配置短信参数.<a href="{php echo $this->createWebUrl('ptfsms', array('op' => 'set'));}" target="_blank">现在去配置</a></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>入驻协议</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_ueditor('agreement_delivery', $agreement_delivery);}
						<div class="help-block">不填写时，配送员申请页面将不显示：我已阅读并同意 《配送员入驻协议》</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">配送员提现设置</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>最低提现金额</label>
					<div class="col-sm-9 col-xs-12">
						<div class="input-group">
							<input type="text" name="get_cash_fee_limit" value="{$config_delivery['get_cash_fee_limit']}" class="form-control"/>
							<span class="input-group-addon">元</span>
						</div>
						<div class="help-block">只能填写整数，不填写为不限制</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>提现费率</label>
					<div class="col-sm-9 col-xs-12">
						<div class="input-group">
							<input type="text" name="get_cash_fee_rate" value="{$config_delivery['get_cash_fee_rate']}" class="form-control"/>
							<span class="input-group-addon">%</span>
						</div>
						<div class="help-block">
							配送员申请提现时，每笔申请提现扣除的费用，默认为空，即提现不扣费，支持填写小数
							<br>
							<strong clas="text-danger">配送员入驻时的默认提现费率</strong>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>提现费用</label>
					<div class="col-sm-9 col-xs-12">
						<div class="input-group">
							<span class="input-group-addon">最低</span>
							<input type="text" name="get_cash_fee_min" value="{$config_delivery['get_cash_fee_min']}" class="form-control"/>
							<span class="input-group-addon">元</span>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">最高</span>
							<input type="text" name="get_cash_fee_max" value="{$config_delivery['get_cash_fee_max']}" class="form-control"/>
							<span class="input-group-addon">元</span>
						</div>
						<div class="help-block">
							<strong class="text-danger">最高金额设置为0， 表示不限制最高提现费用。</strong>
							<br>
							配送员提现时，提现费用的上下限，最高为空时，表示不限制扣除的提现费用
							<br>
							例如：提现100元，费率5%，最低1元，最高2元，配送员最终提现金额=100-2=98
							<br>
							例如：提现100元，费率5%，最低1元，最高10元，配送员最终提现金额=100-100*5%=95
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9 col-xs-9 col-md-9">
				<input type="hidden" name="token" value="{$_W['token']}">
				<input name="submit" id="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
			</div>
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('#form1').submit(function(){
		return true;
	});
});
</script>
{template 'public/footer'}