{template 'public/header'}
{template 'plateform/mall-nav'}
<div class="clearfix">
	<form action="" method="post" class="form-horizontal" role="form">
		<div class="panel panel-default">
			<div class="panel-heading">是否开启优惠设置</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-1 control-label">状态</label>
					<div class="col-sm-9 col-xs-9 col-md-9">
						<label class="radio-inline"><input type="radio" name="imgnav_status" value="1" {if $config['imgnav_status'] == 1 || !$config['imgnav_status']}checked{/if}> 开启</label>
						<label class="radio-inline"><input type="radio" name="imgnav_status" value="2" {if $config['imgnav_status'] == 2}checked{/if}> 关闭</label>
					</div>
				</div>
			</div>
		</div>
		{loop $config['imgnav_data'] $nav}
			<div class="panel panel-default">
				<div class="panel-heading">优惠设置</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-1 control-label"><strong class="text-danger">*</strong> 标题</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<input type="text" name="title[]" class="form-control" value="{$nav['title']}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-1 control-label"><strong class="text-danger">*</strong> 标题下说明文字</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<input type="text" name="tips[]" class="form-control" value="{$nav['tips']}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-1 control-label"><strong class="text-danger">*</strong> 图片</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							{php echo tpl_form_field_image('img[]', $nav['img']);}
							<span class="help-block">推荐图片大小:60*60</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-1 control-label"><strong class="text-danger">*</strong> 跳转链接</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							{php echo tpl_form_field_tiny_link('link[]', $nav['link']);}
						</div>
					</div>
				</div>
			</div>
		{/loop}
		<div class="form-group">
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<input type="submit" class="btn btn-primary" name="submit" value="提　交" />
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>
		</div>
	</form>
</div>
{template 'public/footer'}