{template 'public/header'}
{template 'plateform/mall-nav'}
<div class="panel panel-default">
	<div class="panel-body">
		<ul class="nav nav-pills">
			<li {if $op == 'list'}class="active"{/if}><a href="{php echo $this->createWebUrl('ptfrecommend');}">为你优选列表</a></li>
		</ul>
	</div>
</div>
{if $op == 'list'}
<div class="main">
	<form class="form-horizontal" action="" method="post">
		<div class="panel panel-default">
			<div class="panel-body table-responsive">
				<table class="table table-hover">
					<thead class="navbar-inner">
						<tr>
							<th>门店logo</th>
							<th>门店名称</th>
							<th style="width:150px; text-align:right;">操作</th>
						</tr>
					</thead>
					<tbody>
						{loop $recommends $recommend}
						<tr>
							<td><img src="{$recommend['logo']}" width="50"></td>
							<td>{$recommend['title']}</td>
							<td style="text-align:right;">
								<a href="{php echo $this->createWebUrl('ptfslide', array('op' => 'post', 'id' => $slide['id']))}" class="btn btn-default btn-sm" title="编辑" data-toggle="tooltip" data-placement="top" ><i class="fa fa-edit"> </i> 编辑</a>
								<a href="{php echo $this->createWebUrl('ptfslide', array('op' => 'del', 'id' => $slide['id']))}" class="btn btn-default btn-sm" title="删除" data-toggle="tooltip" data-placement="top" onclick="if(!confirm('确定删除吗?')) return false;"><i class="fa fa-times"> </i> 删除</a>
							</td>
						</tr>
						{/loop}
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>
{/if}
<script type="text/javascript">
	$(function(){
		$('#form1').submit(function(){
			if($.trim($(':text[name="title"]').val()) == '') {
				util.message('标题不能为空');
				return false;
			}
			if($.trim($(':text[name="thumb"]').val()) == '') {
				util.message('请上传图片');
				return false;
			}
			return true;
		});
	});
</script>
{template 'public/footer'}