<ul class="nav nav-tabs">
	<li {if $do == 'trade' && ($op == 'account' || $op == 'set')}class="active"{/if}><a href="{php echo $this->createWebUrl('ptftrade', array('op' => 'account'));}">门店账户</a></li>
	<li {if $do == 'trade' && $op == 'getcashlog'}class="active"{/if}><a href="{php echo $this->createWebUrl('ptftrade', array('op' => 'getcashlog'));}">门店提现</a></li>
	<li {if $do == 'analyse-takeout'}class="active"{/if}><a href="{php echo $this->createWebUrl('ptfanalyse-takeout');}">经营分析</a></li>
</ul>