{template 'header'}

<div class="liuyan">
    <form name='xuqiu_form' method='post' action=''>
        <div class="div1">你的姓名：</div>
        <div class="div2"><input type="text" maxlength="5" name="name" id="name"></div>
        <div class="div1">手机号码：</div>
        <div class="div2"><input type="text" maxlength="16" name="phone" id="phone"></div>
        <div class="div1">输入你的要求：</div>
        <div class="div3"><textarea name="txt"></textarea></div>
        <div class="div4"><input type="submit" value="立即提交"></div>
    </form>
</div>



{template 'footer'}
