{template 'public/header'}
{template 'store/nav'}
{template 'store/activity-nav'}
{if $op == 'first_order'}
<form class="form-horizontal form" id="form-first-order" action="{php echo $this->createWebUrl('activity', array('op' => 'first_order'));}" method="post">
	<div class="panel panel-default tab-pane active" role="tabpanel" id="basic">
		<div class="panel-heading">新用户首次下单优惠</div>
		<div class="panel-body">
			<div class="form-group">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
					<div class="col-sm-9 col-xs-9 col-md-9">
						<label class="radio-inline"><input type="radio" name="first_order_status" value="1" {if $activity['first_order_status'] == 1}checked{/if}> 开启</label>
						<label class="radio-inline"><input type="radio" name="first_order_status" value="0" {if !$activity['first_order_status']}checked{/if}> 关闭</label>
						<span class="help-block">
							<strong class="text-danger">
								首次下单优惠不与在线支付满减优惠同时使用.
							</strong>
						</span>
					</div>
				</div>
			</div>
			<div id="first-order">
				{if !empty($activity['first_order_data'])}
					{loop $activity['first_order_data'] $item}
						<div class="form-group item">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">满减优惠</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">满</span>
									<input type="text" name="condition[]" value="{$item['condition']}" class="form-control">
									<span class="input-group-addon">元</span>
									<span class="input-group-addon">减</span>
									<input type="text" name="back[]" value="{$item['back']}" class="form-control">
									<span class="input-group-addon">元</span>
								</div>
							</div>
							<div class="col-sm-1" style="margin-top:5px">
								<a href="javascript:;" class="first-order-del"><i class="fa fa-times-circle"></i> </a>
							</div>
						</div>
					{/loop}
				{/if}
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
				<div class="col-sm-9 col-xs-12">
					<a href="javascript:;" class="first-order-add"><i class="fa fa-plus-circle"></i> 添加满减优惠</a> 最多可添加4个
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-xs-9 col-md-9">
			<input type="hidden" name="token" value="{$_W['token']}">
			<input name="submit" id="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('.first-order-add').click(function(){
		var html ='<div class="form-group item">' +
					'<label class="col-xs-12 col-sm-3 col-md-2 control-label">满减优惠</label>' +
					'<div class="col-sm-4">' +
						'<div class="input-group">' +
							'<span class="input-group-addon">满</span>' +
							'<input type="text" name="condition[]" value="" class="form-control">' +
							'<span class="input-group-addon">元</span>' +
							'<span class="input-group-addon">减</span>' +
							'<input type="text" name="back[]" value="" class="form-control">' +
							'<span class="input-group-addon">元</span>' +
						'</div>' +
					'</div>' +
					'<div class="col-sm-1" style="margin-top:5px">' +
						'<a href="javascript:;" class="first-order-del"><i class="fa fa-times-circle"></i> </a>' +
					'</div>' +
				'</div>';
		if($('#first-order .item').size() >= 4) {
			util.message('最多可添加4个满减优惠', '', 'error');
			return false;
		}
		$('#first-order').append(html);
	});

	$('.first-order-del').click(function(){
		$(this).parent().parent().remove();
		return false;
	});

});
</script>
{/if}
{if $op == 'discount'}
<form class="form-horizontal form" action="{php echo $this->createWebUrl('activity', array('op' => 'discount'));}" method="post">
	<div class="panel panel-default tab-pane active" role="tabpanel">
		<div class="panel-heading">在线支付满减优惠</div>
		<div class="panel-body">
			<div class="form-group">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
					<div class="col-sm-9 col-xs-9 col-md-9">
						<label class="radio-inline"><input type="radio" name="discount_status" value="1" {if $activity['discount_status'] == 1}checked{/if}> 开启</label>
						<label class="radio-inline"><input type="radio" name="discount_status" value="0" {if !$activity['discount_status']}checked{/if}> 关闭</label>
						<span class="help-block">
							<strong class="text-danger">
								首次下单优惠不与在线支付满减优惠同时使用.
							</strong>
						</span>
					</div>
				</div>
			</div>
			<div id="discount">
				{if !empty($activity['discount_data'])}
					{loop $activity['discount_data'] $item}
						<div class="form-group item">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">满减优惠</label>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon">满</span>
									<input type="text" name="condition[]" value="{$item['condition']}" class="form-control">
									<span class="input-group-addon">元</span>
									<span class="input-group-addon">减</span>
									<input type="text" name="back[]" value="{$item['back']}" class="form-control">
									<span class="input-group-addon">元</span>
								</div>
							</div>
							<div class="col-sm-1" style="margin-top:5px">
								<a href="javascript:;" class="discount-del"><i class="fa fa-times-circle"></i> </a>
							</div>
						</div>
					{/loop}
				{/if}
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
				<div class="col-sm-9 col-xs-12">
					<a href="javascript:;" class="discount-add"><i class="fa fa-plus-circle"></i> 添加满减优惠</a> 最多可添加4个
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-xs-9 col-md-9">
			<input type="hidden" name="token" value="{$_W['token']}">
			<input name="submit" id="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('.discount-add').click(function(){
		var html ='<div class="form-group item">' +
					'<label class="col-xs-12 col-sm-3 col-md-2 control-label">满减优惠</label>' +
					'<div class="col-sm-4">' +
						'<div class="input-group">' +
							'<span class="input-group-addon">满</span>' +
							'<input type="text" name="condition[]" value="" class="form-control">' +
							'<span class="input-group-addon">元</span>' +
							'<span class="input-group-addon">减</span>' +
							'<input type="text" name="back[]" value="" class="form-control">' +
							'<span class="input-group-addon">元</span>' +
						'</div>' +
					'</div>' +
					'<div class="col-sm-1" style="margin-top:5px">' +
						'<a href="javascript:;" class="first-order-del"><i class="fa fa-times-circle"></i> </a>' +
					'</div>' +
				'</div>';
		if($('#discount .item').size() >= 4) {
			util.message('最多可添加4个满减优惠', '', 'error');
			return false;
		}
		$('#discount').append(html);
	});

	$('.discount-del').click(function(){
		$(this).parent().parent().remove();
		return false;
	});
});
</script>
{/if}

{if $op == 'grant'}
<form class="form-horizontal form" action="{php echo $this->createWebUrl('activity', array('op' => 'grant'));}" method="post">
	<div class="panel panel-default tab-pane active" role="tabpanel">
		<div class="panel-heading">在线支付满赠优惠</div>
		<div class="panel-body">
			<div class="form-group">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
					<div class="col-sm-9 col-xs-9 col-md-9">
						<label class="radio-inline"><input type="radio" name="grant_status" value="1" {if $activity['grant_status'] == 1}checked{/if}> 开启</label>
						<label class="radio-inline"><input type="radio" name="grant_status" value="0" {if !$activity['grant_status']}checked{/if}> 关闭</label>
					</div>
				</div>
			</div>
			{loop $activity['grant_data'] $item}
			<div class="form-group item">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">满赠优惠</label>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon">满</span>
						<input type="text" name="condition[]" value="{$item['condition']}" class="form-control">
						<span class="input-group-addon">元</span>
						<span class="input-group-addon">赠送</span>
						<input type="text" name="back[]" value="{$item['back']}" class="form-control">
					</div>
				</div>
			</div>
			{/loop}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-xs-9 col-md-9">
			<input type="hidden" name="token" value="{$_W['token']}">
			<input name="submit" id="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
		</div>
	</div>
</form>
{/if}
{template 'public/footer'}