<ul class="nav nav-tabs">
	<li {if $do == 'store' && $op == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('store', array('op' => 'post', 'id' => $sid));}">门店信息</a></li>
	<li {if $do == 'order'}class="active"{/if}><a href="{php echo $this->createWebUrl('order');}">订单列表</a></li>
	<li {if $do == 'activity' || $do == 'token'}class="active"{/if}><a href="{php echo $this->createWebUrl('activity');}">营销活动</a></li>
	<li {if $do == 'dispatch'}class="active"{/if}><a href="{php echo $this->createWebUrl('dispatch');}">配货中心</a></li>
	<li {if $do == 'category'}class="active"{/if}><a href="{php echo $this->createWebUrl('category');}">商品分类</a></li>
	<li {if $do == 'goods'}class="active"{/if}><a href="{php echo $this->createWebUrl('goods');}">商品列表</a></li>
	<li {if $do == 'printer'} class="active"{/if}><a href="{php echo $this->createWebUrl('printer');}">打印机管理</a></li>
	<li {if $do == 'clerk'}class="active"{/if}><a href="{php echo $this->createWebUrl('clerk');}">店员管理</a></li>
	{if $_W['we7_wmall_plus']['store']['delivery_mode'] == 1}
		<li {if $do == 'deliveryer'}class="active"{/if}><a href="{php echo $this->createWebUrl('deliveryer');}">配送员管理</a></li>
	{/if}
	<li {if $do == 'comment'}class="active"{/if}><a href="{php echo $this->createWebUrl('comment');}">评价管理</a></li>
	<li {if $do == 'member'}class="active"{/if}><a href="{php echo $this->createWebUrl('member');}">顾客管理</a></li>
	<li {if $do == 'trade'}class="active"{/if}><a href="{php echo $this->createWebUrl('trade', array('op' => 'order'));}">对账/提现</a></li>
	<li {if $do == 'stat'}class="active"{/if}>
		<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
			经营分析 <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="{php echo $this->createWebUrl('stat');}">营业统计</a></li>
			<li><a href="{php echo $this->createWebUrl('stat', array('op' => 'goods'));}">热门商品</a></li>
		</ul>
	</li>
	<li {if $do == 'table_order'}class="active"{/if}><a href="{php echo $this->createWebUrl('table_order');}">店内点餐</a></li>
	<li {if $do == 'place'}class="active"{/if}><a href="{php echo $this->createWebUrl('place');}">店员代客下单</a></li>
</ul>
{if $store['status'] > 1}
<div class="alert alert-danger">
	<i class="fa fa-info-circle"></i> 当前门店尚未审核,请完善信息后联系管理员审核
</div>
{/if}
