{template 'public/header'}
{template 'store/nav'}
<div class="clearfix">
	<div class="panel panel-default">
		<div class="panel-heading">筛选</div>
		<div class="panel-body">
			<form action="./index.php" method="get" class="form-horizontal" role="form" id="list">
				<input type="hidden" name="c" value="site">
				<input type="hidden" name="a" value="entry">
				<input type="hidden" name="m" value="we7_wmall_plus">
				<input type="hidden" name="do" value="stat"/>
				<input type="hidden" name="op" value="goods"/>
				<input type="hidden" name="orderby" value="{$orderby}"/>
				<div class="form-group clearfix">
					<label class="col-xs-12 col-sm-2 col-md-1 control-label">筛选时间</label>
					<div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
						<div class="btn-group">
							<a href="{php echo filter_url('days:0');}" class="btn {if !$days}btn-primary{else}btn-default{/if}">今天</a>
							<a href="{php echo filter_url('days:7');}" class="btn {if $days == 7}btn-primary{else}btn-default{/if}">最近7天</a>
							<a href="{php echo filter_url('days:30');}" class="btn {if $days == 30}btn-primary{else}btn-default{/if}">最近30天</a>
							<a href="javascript:;" class="btn js-btn-custom {if $days == -1}btn-primary{else}btn-default{/if}">自定义</a>
						</div>
						<span class="btn-daterange {if $days != -1}hide{/if}">
							{php echo tpl_form_field_daterange('stat_day', array('start' => $starttime, 'end' => $endtime));}
						</span>
					</div>
				</div>
				<div class="form-group clearfix">
					<label class="col-xs-12 col-sm-2 col-md-1 control-label">排序</label>
					<div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
						<div class="btn-group">
							<a href="{php echo filter_url('orderby:total_goods_price');}" class="btn {if $orderby == 'total_goods_price'}btn-primary{else}btn-default{/if}">销售额</a>
							<a href="{php echo filter_url('orderby:total_goods_num');}" class="btn {if $orderby == 'total_goods_num'}btn-primary{else}btn-default{/if}">销售量</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="clearfix {if !$days}hide{/if}">
		<div class="col-lg-6"  style="padding: 0">
			<div class="panel panel-default">
				<div class="panel-heading">销售额百分比</div>
				<div class="panel-body">
					<div id="chart-goods_price-holder" style="width: 100%;height:400px;"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6" style="padding-left: 20px; padding-right: 0">
			<div class="panel panel-default" >
				<div class="panel-heading">销量百分比</div>
				<div class="panel-body">
					<div id="chart-goods_num-holder" style="width: 100%;height:400px;"></div>
				</div>
			</div>
		</div>
	</div>
	<form class="form-horizontal" action="" method="post" id="">
		<table class="table table-bordered table-hover text-center" style="background: #fff">
			<thead class="navbar-inner">
			<tr style="height: 50px">
				<th colspan="3"><strong class="text-danger">只统计已完成的订单</strong></th>
				<th colspan="2" class="text-center">商品销售总额:<strong class="text-danger">￥{$stat['total_goods_price']}</strong></th>
				<th colspan="2" class="text-center">商品销售总量:<strong class="text-danger">{$stat['total_goods_num']}份</strong></th>
			</tr>
			<tr>
				<th>排名</th>
				<th>商品名称</th>
				<th>销售量</th>
				<th>销售额</th>
				<th>销售额百分比</th>
				<th>销售量百分比</th>
				<th style="width:150px; text-align:right;">菜品</th>
			</tr>
			</thead>
			<tbody>
			{loop $records $record}
				{php $i++}
				<tr>
					<td><strong>{$i}</strong></td>
					<td>{$record['goods_title']}</td>
					<td>{$record['total_goods_num']}</td>
					<td>￥{$record['total_goods_price']}</td>
					<td>{$record['pre_goods_price']}</td>
					<td>{$record['pre_goods_num']}</td>
					<td style="text-align:right;">
						<a href="{php echo $this->createWebUrl('goods', array('op' => 'post', 'id' => $record['goods_id']))}" class="btn btn-default btn-sm" title="菜品详情" data-toggle="tooltip" data-placement="top" target="_blank">菜品详情</a>
					</td>
				</tr>
			{/loop}
			</tbody>
		</table>
	</form>
</div>
<script src="../addons/we7_wmall_plus/resource/web/js/echarts.common.js"></script>
<script type="text/javascript">
require(['jquery', 'daterangepicker', 'datetimepicker'], function($) {
	$('#list .daterange').on('apply.daterangepicker', function(ev, picker) {
		$('#list')[0].submit();
	});

	var templates = {
		goods_num: {
			title: {
				text: '销量百分比'
			},
			series: [{
				name: '销量百分比',
				data: []
			}]
		},
		goods_price: {
			title: {
				text: '销售额百分比'
			},
			series: [{
				name: '销售额百分比',
				data: []
			}]
		}
	};
	var option = {
		title : {
			text: '',
			x:'center'
		},
		tooltip : {
			trigger: 'item',
			formatter: "{a} <br/>{b} : {c} ({d}%)"
		},
		legend: {
			orient: 'vertical',
			left: 'left',
			data: []
		},
		series : [
			{
				name: '直接访问',
				type: 'pie',
				radius : '55%',
				center: ['50%', '60%'],
				data:[],
				itemStyle: {
					emphasis: {
						shadowBlur: 10,
						shadowOffsetX: 0,
						shadowColor: 'rgba(0, 0, 0, 0.5)'
					}
				}
			}
		]
	};
	$.post(location.href, function(data){
		var result = $.parseJSON(data);
		result = result.message.message;
		var ds = {};
		$.each(result.field, function(k, v){
			ds = $.extend(true, {}, option, templates[v]);
			ds.legend.data = result.title;
			ds.series[0].data = result.data[v];
			myChart = echarts.init($('#chart-' + v + '-holder')[0]);
			myChart.setOption(ds);
		});
	});
});
</script>
{template 'public/footer'}
