{template 'public/header'}
{template 'store/nav'}
{template 'store/table-nav'}
{if $op == 'list'}
<div class="main">
	<div class="panel panel-info">
		<div class="panel-heading">筛选</div>
		<div class="panel-body">
			<form action="./index.php" method="get" class="form-horizontal" role="form">
				<input type="hidden" name="c" value="site">
				<input type="hidden" name="a" value="entry">
				<input type="hidden" name="m" value="we7_wmall_plus">
				<input type="hidden" name="do" value="table_order"/>
				<input type="hidden" name="op" value="list"/>
				<input type="hidden" name="status" value="{$_GPC['status']}"/>
				<input type="hidden" name="is_pay" value="{$_GPC['is_pay']}"/>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-1 control-label">支付状态</label>
					<div class="col-sm-9 col-xs-9 col-md-9">
						<div class="btn-group">
							<a href="{php echo filter_url('is_pay:-1');}" class="btn {if $is_pay == -1}btn-primary{else}btn-default{/if}">不限</a>
							<a href="{php echo filter_url('is_pay:0');}" class="btn {if $is_pay == 0}btn-primary{else}btn-default{/if}">未支付</a>
							<a href="{php echo filter_url('is_pay:1');}" class="btn {if $is_pay == 1}btn-primary{else}btn-default{/if}">已支付</a>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-1 control-label">用户信息</label>
					<div class="col-sm-9 col-xs-9 col-md-9">
						<input class="form-control" name="keyword" placeholder="输入用户名或手机号" type="text" value="{$_GPC['keyword']}">
					</div>
				</div>
				<div class="form-group clearfix">
					<label class="col-xs-12 col-sm-3 col-md-1 control-label">下单时间</label>
					<div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
						{php echo tpl_form_field_daterange('addtime', array('start' => date('Y-m-d', $starttime), 'end' => date('Y-m-d', $endtime)));}
					</div>
					<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
						<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	{if $wait_total > 0}
	<div class="alert alert-danger">
		<i class="fa fa-bell"></i> {$wait_total}个订单未处理, 请尽快处理.
	</div>
	{/if}
	<form class="form-horizontal" action="{php echo $this->createWeburl('table_order', array('op' => 'status'));}" id="form-order" method="post">
		<ul class="order-nav order-nav-tabs">
			<li {if $status == 0}class="active"{/if}><a href="{php echo filter_url('status:0');}">所有订单</a></li>
			<li {if $status == 1}class="active"{/if}><a href="{php echo filter_url('status:1');}">未处理订单</a></li>
			<li {if $status == 2}class="active"{/if}><a href="{php echo filter_url('status:2');}">已确认订单</a></li>
			<li {if $status == 5}class="active"{/if}><a href="{php echo filter_url('status:5');}">已完成订单</a></li>
			<li {if $status == 6}class="active"{/if}><a href="{php echo filter_url('status:6');}">已取消订单</a></li>
		</ul>
		<div class="panel panel-default">
			<div class="panel-body table-responsive" style="overflow:inherit">
				<table class="table table-hover">
					<thead class="navbar-inner">
						<tr>
							<th width="30"></th>
							<th width="120">编号</th>
							<th>预定人/电话</th>
							<th>订单类型</th>
							<th>桌号</th>
							<th>支付方式</th>
							<th>订单状态</th>
							<th>打印(份数)</th>
							<th>份数/总价</th>
							<th>优惠金额</th>
							<th>优惠后价格</th>
							<th>下单时间</th>
							<th style="width:250px; text-align:right;">详情</th>
						</tr>
					</thead>
					<tbody>
						{loop $data $dca}
						<tr>
							<td><input type="checkbox" name="id[]" value="{$dca['id']}"></td>
							<td>
								<span class="label label-warning">商户号:#{$dca['serial_sn']}</span>
								<br>
								<span class="label label-info label-br">平台号:{$dca['id']}</span>
							</td>
							<td>
								{$dca['username']}
								<br>
								{$dca['mobile']}
							</td>
							<td>
								<span class="{$order_types[$dca['order_type']]['css']}">{$order_types[$dca['order_type']]['text']}</span>
							</td>
							<td>
								{if $dca['order_type'] == 3}
									<span class="label label-info">{$tables[$dca['table_id']]['title']}桌</span>
									<br>
									<span class="label label-info label-br">就餐人数: {$dca['person_num']}</span>
								{else}
									<span class="label label-info">{$table_categorys[$dca['table_cid']]['title']}</span>
									<br>
									<span class="label label-info label-br">{$dca['reserve_time']}</span>
									<br>
									<span class="{$order_reserve_types[$dca['reserve_type']]['css']}">{$order_reserve_types[$dca['reserve_type']]['text']}</span>
								{/if}
							</td>
							<td>
								{if !$dca['is_pay']}
									<span class="label label-danger">未支付</span>
								{else}
									<span class="{$pay_types[$dca['pay_type']]['css']}">{$pay_types[$dca['pay_type']]['text']}</span>
								{/if}
								<br>
								<span class="label label-info label-br dist hide" data-lat="{$dca['location_x']}"  data-lng="{$dca['location_y']}">距离:未知</span>
							</td>
							<td>
								<span class="{$order_status[$dca['status']]['css']}">
									{$order_status[$dca['status']]['text']}
								</span>
								{if $dca['refund_status'] > 0}
									<br>
									<span class="label label-danger label-br">有退款申请</span>
								{/if}
							</td>
							<td><a href="javascript:;" class="btn btn-default btn-sm print" data-id="{$dca['id']}" title="点我打印订单" data-toggle="tooltip" data-placement="top">
								<i class="fa fa-print"></i> 
								(
									{if $dca['print_nums'] > 0}
										<span style="color:green">{$dca['print_nums']}</span>
									{else}
										<span style="color:red">{$dca['print_nums']}</span>
									{/if}
								)</a>
							</td>
							<td>
								{$dca['num']}份/{$dca['total_fee']}元
							</td>
							<td>{$dca['discount_fee']}元</td>
							<td><span class="label label-info">{$dca['final_fee']}元</span></td>
							<td>{php echo date('Y-m-d H:i', $dca['addtime'])}</td>
							<td style="text-align:right; overflow:visible;">
								<div class="btn-group">
									{if $dca['is_remind']}
										<a href="javascript:;" data-id="{$dca['id']}" class="btn btn-danger btn-sm order-reply-remind" title="回复催单请求" data-toggle="tooltip" data-placement="top">有催单</a>
									{/if}
									{if $dca['status'] < 5}
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="变更订单状态" data-toggle="tooltip" data-placement="top">变更状态 <span class="caret"></span></button>
											<ul class="dropdown-menu">
												{if $dca['status'] == 1}
													<li><a href="{php echo $this->createWeburl('table_order', array('op' => 'status', 'id' => $dca['id'], 'type' => 'handel'));}" onclick="if(!confirm('确定接单?')) return false;">接单</a></li>
													<li><a href="{php echo $this->createWeburl('table_order', array('op' => 'cancel', 'id' => $dca['id']))}" class="btn-cancel" data-pay="{$dca['is_pay']}"  data-pay-type="{$dca['pay_type']}" title="取消订单" data-toggle="tooltip" data-placement="top">取消订单</a></li>
												{/if}
												{if $dca['status'] == 2}
													<li><a href="{php echo $this->createWeburl('table_order', array('op' => 'status', 'id' => $dca['id'], 'status' => 5, 'type' => 'end'));}" onclick="if(!confirm('确定修改订单状态?')) return false;">设为已完成</a></li>
												{/if}
												{if !$dca['is_pay']}
													<li><a href="{php echo $this->createWeburl('table_order', array('op' => 'pay_status', 'id' => $dca['id']));}" onclick="if(!confirm('确定修改支付状态?')) return false;">设为已支付</a></li>
												{/if}
											</ul>
										</div>
									{/if}
									{if $dca['status'] < 5}
										<a href="{php echo $this->createWeburl('table_order', array('op' => 'cancel', 'id' => $dca['id']))}" class="btn btn-default btn-sm btn-cancel" data-pay="{$dca['is_pay']}"  data-pay-type="{$dca['pay_type']}" title="取消订单" data-toggle="tooltip" data-placement="top">取消订单</a>
									{/if}
									<a href="{php echo $this->createWeburl('table_order', array('op' => 'detail', 'id' => $dca['id']))}" class="btn btn-success btn-sm" title="查看详情" data-toggle="tooltip" data-placement="top">详情</a>
								</div>
							</td>
						</tr>
						{/loop}
						{if $status > 0 && $status < 5}
							<tr>
								<td><input type="checkbox" id="selectall"></td>
								<td colspan="11">
									{if $status == 1}
										<a href="javascript:;" data-id="2" data-type="handel" class="btn btn-primary btn-order">确定接单</a>
									{/if}
									{if $status == 2}
										<a href="javascript:;" data-id="5" data-type="end" class="btn btn-primary btn-order">设为已完成</a>
									{/if}
								</td>
							</tr>
						{/if}
					</tbody>
				</table>
			</div>
		</div>
		{$pager}
		<input type="hidden" name="status" value="0" id="status">
		<input type="hidden" name="type" value="" id="type">
		<input type="hidden" name="token" value="{$_W['token']}">
	</form>
</div>
<div id="allmap" class="hide"></div>
<script type="text/javascript">
require(['util'], function(u){
	$('#selectall').click(function(){
		$('#form-order :checkbox').prop('checked', $(this).prop('checked'));
	});

	$('.btn-order').click(function(){
		if($('#form-order :checkbox:checked').length == 0) {
			u.message('请选择订单', '', 'error');
			return false;
		}
		if(!confirm('确定修改订单的状态吗')) {
			return false;
		}
		$('#form-order #status').val($(this).data('id'));
		$('#form-order #type').val($(this).data('type'));
		$('#form-order').submit();
		return false;
	});

	$('.btn-cancel').click(function(e){
		var pay = $(this).data('pay');
		var pay_type = $(this).data('pay-type');
		var tip = '确定取消订单吗';
		if(pay == 1) {
			if(pay_type == 'cash') {
				var tip = '该订单为现金支付, 取消订单需要商家自己处理退款, 确定取消订单吗';
			} else if(pay_type != 'delivery') {
				var tip = '该订单为线上支付, 取消订单将发起退款流程, 确定取消订单吗';
			}
		}
		if(!confirm(tip)) {
			e.preventDefault();
		}
		return true;
	});

	$('.print').click(function(){
		if(!confirm('确定打印该订单吗？')) {
			return false;
		}
		var id = $(this).attr('data-id');
		$.post("{php echo $this->createWeburl('table_order', array('op' => 'print'))}", {'id' : id}, function(data) {
			if(data != 'success') {
				u.message(data, '', 'error');
			} else {
				location.reload();
			}
		});
		return false;
	});
});
</script>
{elseif $op == 'detail'}
<form class="form-horizontal" role="form">
	<div class="page-trade-order">
		<div class="order-list">
			<div class="freight-content">
				<div class="freight-template-item panel panel-default">
					<div class="panel-body clearfix">
						<div class="col-xs-12 col-sm-6 order-infos">
							<h4>订单信息</h4>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">订单编号：</label>
								<div class="col-md-9 form-control-static">
									{$order['ordersn']}
								</div>
							</div>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">下单时间：</label>
								<div class="col-md-9 form-control-static">
									{php echo date('Y-m-d H:i', $order['addtime']);}
								</div>
							</div>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">订单状态：</label>
								<div class="col-md-9 form-control-static">
									<span class="{$order_status[$order['status']]['css']}">{$order_status[$order['status']]['text']}</span>
								</div>
							</div>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">订单类型：</label>
								<div class="col-md-9 form-control-static">
									<span class="{$order_types[$order['order_type']]['css']}">{$order_types[$order['order_type']]['text']}</span>
								</div>
							</div>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">付款方式：</label>
								<div class="col-md-9 form-control-static">
									{if !$order['is_pay']}
										<span class="label label-danger">未支付</span>
									{else}
										<span class="{$pay_types[$order['pay_type']]['css']}">{$pay_types[$order['pay_type']]['text']}</span>
									{/if}
								</div>
							</div>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">下单人信息：</label>
								<div class="col-md-9 form-control-static">
									{$order['username']} {$order['mobile']}
								</div>
							</div>
							{if $order['order_type'] == 3}
								<div class="form-group clearfix">
									<label class="col-md-3 control-label">桌号：</label>
									<div class="col-md-9 form-control-static">
										{$order['table']['title']}桌 {$order['person_num']}人就餐
									</div>
								</div>
							{else}
								<div class="form-group clearfix">
									<label class="col-md-3 control-label">预订时间：</label>
									<div class="col-md-9 form-control-static">
										{$order['reserve_time']}
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 control-label">桌台：</label>
									<div class="col-md-9 form-control-static">
										{$order['table_category']['title']}
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 control-label">预定类型：</label>
									<div class="col-md-9 form-control-static">
										{$order['reserve_type_cn']}
									</div>
								</div>
							{/if}
							<div class="parting-line"></div>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">备注：</label>
								<div class="col-md-9 form-control-static">
									{$order['note']}
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6">
							<h4>订单费用</h4>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">商品价格：</label>
								<div class="col-md-9 form-control-static">
									￥ {$order['price']}
								</div>
							</div>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">包装费：</label>
								<div class="col-md-9 form-control-static">
									￥ {$order['pack_fee']}
								</div>
							</div>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">配送费：</label>
								<div class="col-md-9 form-control-static">
									￥ {$order['delivery_fee']}
								</div>
							</div>
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">服务费：</label>
								<div class="col-md-9 form-control-static">
									￥ {$order['serve_fee']}
								</div>
							</div>
							{if $order['discount_fee'] > 0}
								{loop $discount $row}
									<div class="form-group clearfix">
										<label class="col-md-3 control-label">{$row['note']}：</label>
										<div class="col-md-9 form-control-static">
											- ￥ {$row['fee']}
										</div>
									</div>
								{/loop}
							{/if}
							<div class="form-group clearfix">
								<label class="col-md-3 control-label">合计：</label>
								<div class="col-md-9 form-control-static">
									￥ {$order['final_fee']}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">商品信息【共 <strong>{$order['num']}</strong> 份,总价 <strong>{$order['price']}</strong> 元】</div>
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th>商品</th>
						<th>份数</th>
						<th>小计(元)</th>
						<th></th>
					</tr>
					{if !empty($order['goods'])}
						{loop $order['goods'] $or}
							<tr>
								<td>{$or['goods_title']}</td>
								<td>{$or['goods_num']} 份</td>
								<td>{$or['goods_price']} 元</td>
								<td>
									<a class="btn btn-success" target="_blank" href="{php echo $this->createWeburl('goods', array('op' => 'post', 'id' => $or['goods_id']));}">商品信息</a>
								</td>
							</tr>
						{/loop}
					{/if}
				</thead>
			</table>
		</div>
	</div>
	{if $order['is_comment'] == 1}
		<div class="panel panel-default">
			<div class="panel-heading">订单评价</div>
			<div class="panel-body table-responsive">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-1 control-label">商品质量:</label>
					<div class="col-sm-9 col-xs-9 col-md-9">
						<p class="form-control-static">
							<?php
								for($i = 0; $i < $comment['goods_quality']; $i++) {
									echo '<i class="fa fa-star"></i>';
								}
								for($i = $comment['goods_quality']; $i < 5; $i++) {
									echo '<i class="fa fa-star-o"></i>';
								}
							?>
						</p>
					</div>	
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-1 control-label">配送服务:</label>
					<div class="col-sm-9 col-xs-9 col-md-9">
						<p class="form-control-static">
							<?php
								for($i = 0; $i < $comment['delivery_service']; $i++) {
									echo '<i class="fa fa-star"></i>';
								}
								for($i = $comment['delivery_service']; $i < 5; $i++) {
									echo '<i class="fa fa-star-o"></i>';
								}
							?>
						</p>
					</div>
				</div>
				{if !empty($comment['data']['good'])}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-1 control-label"><i class="fa fa-thumbs-o-up"></i> 点赞商品:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">
								{loop $comment['data']['good'] $good}
									{$good} &nbsp;
								{/loop}
							</p>
						</div>	
					</div>
				{/if}
				{if !empty($comment['data']['bad'])}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-1 control-label"><i class="fa fa-thumbs-o-down"></i> 差评菜品:</label>
						<div class="col-sm-9 col-xs-9 col-md-9">
							<p class="form-control-static">
								{loop $comment['data']['bad'] $bad}
									{$bad} &nbsp;
								{/loop}
							</p>
						</div>	
					</div>
				{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-1 control-label">评价:</label>
					<div class="col-sm-9 col-xs-9 col-md-9">
						<p class="form-control-static">{$comment['note']}</p>
					</div>	
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-1 control-label">审核状态:</label>
					<div class="col-sm-9 col-xs-9 col-md-9">
						<p class="form-control-static">
							{if $comment['status'] == 1}
								<span class="label label-success">审核通过</span>
							{elseif !$comment['status']}
								<span class="label label-danger">审核未通过</span>
							{else}
								<span class="label label-default">审核中</span>
							{/if}
						</p>
					</div>
				</div>
			</div>
		</div>
	{/if}
	{if !empty($logs)}
		<div class="panel panel-default">
			<div class="panel-heading">订单日志</div>
			<div class="panel-body table-responsive">
				<table class="table table-hover table-log">
					{loop $logs $log}
					<tr>
						<td>
							<p><i class="fa fa-info-circle"></i> <strong>{php echo date('Y-m-d H:i', $log['addtime']);} {$log['title']}</strong></p> 
							<p style="padding-left:15px; ">{$log['note']}</p> 
						</td>
					</tr>
					{/loop}
				</table>
			</div>
		</div>
	{/if}
</form>
{/if}

<div class="modal fade" id="order-reply-remind-container" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">催单回复</h4>
			</div>
			<div class="modal-body">
				<div class="input-group">
					<input type="text" name="reply" class="form-control" placeholder="请填写/选择一个催单回复">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:500px">
							{loop $store_['remind_reply'] $reply}
								<li><a href="javascript:;">{$reply}</a></li>
							{/loop}
						</ul>
					</div>
				</div>
				<span class="help-block">
					<a href="{php echo $this->createWebUrl('store', array('op' => 'post', 'id' => $sid, 'type' => 'remind'));}" target="_blank"><i class="fa fa-plus-circle"></i> 添加催单回复</a>
				</span>
			</div>
			<div class="modal-footer text-center">
				<a class="btn btn-primary js-reply-submit">确定</a>&nbsp;&nbsp;<a class="btn btn-default js-reply-cancel">取消</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('.order-reply-remind').click(function(){
		var id = $(this).data('id')
		$container = $('#order-reply-remind-container');
		$container.modal('show');
		$container.find('.dropdown-menu li').click(function(){
			var reply = $(this).text();
			$container.find(':text[name="reply"]').val(reply);
		});
		$container.find('.js-reply-submit').click(function(){
			var content = $container.find(':text[name="reply"]').val();
			if(!content) {
				util.message('请填写回复内容', '', 'info');
				return false;
			}
			$.post("{php echo $this->createWeburl('table_order', array('op' => 'reply_remind'));}", {id: id, content: content}, function(data){
				var data = $.parseJSON(data);
				if(data.message.errno != 0) {
					util.message(data.message.message, '', 'info');
					return false;
				} else {
					$container.modal('hide');
					location.reload();
				}
			});
		});
		$container.find('.js-reply-cancel').click(function(){
			$container.modal('hide');
		});
	});
});
</script>
{template 'store/order-js'}
{template 'public/footer'}
