
			.timer-box{
				display: flex;
				margin-left: 5px;
				font-size: 14px;
				color: #89BEE5;
			}
			.games-module{
				position: relative;
				min-width: 100px;	
			}
			.games-module img{
				width: 16px;
				height: 16px;
				margin-bottom: -3px;
			}
			.games-module-show{
				height: 30px;
				line-height: 30px;
				width: 100%;
				text-align: center;
				background-color:rgba(53,83,135,0.7);
				/*background: linear-gradient(#0a6da3,#355387,#0a6da3);*/
				border-radius: 5px;
			}
			
			.games-module-show span:last-of-type{
				display: inline-block;
				width: 10px;
				height: 10px;
				margin-left: 2px;
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				transform:rotate(180deg);
			}
			.timer-box #timer{
				height: 30px;
				line-height: 30px;
				text-align: center;
				font-size: 18px;
				font-weight: bold;
				/*text-indent: 12px;*/
				/*padding-right: 6px;*/
				/*margin-left: -8px;*/
				/*border-top: 2px solid rgba(30,127,177,0.8);*/
				/*border-bottom: 2px solid rgba(30,127,177,0.8);*/
				min-width: 60px;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
			}
			.games-module-hide{
				position: absolute;
				top: 40px;
				left: 0;
				min-width: 100px;
				background-color:rgba(53,83,135,0.7);
				border-radius: 5px;
				box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
			}
			.games-module-hide div span a{
			    color: #89BEE5;
    			text-decoration: none;
    			
			}
			.games-module-hide:after{
				position: absolute;
				display: block;
				top: -8px;
				left: 44%;
				content: ' ';
				width: 0;
				height: 0;
				border-width: 0px 5px 8px 5px;
				border-color: rgba(53,83,135,0.7) transparent;
				border-style: solid;
			}
			.games-module-hide div{
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 80%;
				height: 30px;
				margin: 0 auto;
				border-top: 1px solid #3D5980;
				border-bottom: 1px solid #3D5980;
			}
			.games-module-hide div:first-of-type{
				border-top: none;
			}
			.games-module-hide div:last-of-type{
				border-bottom: none;
			}
			.games-module-hide>div{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.info {
				width: 180px;
				height: 80px;
				background: url({RES}/style/img_d/info.png) no-repeat;
				background-size: 100%;
			}

