{template 'header'}
<style>
	.store-list .row{margin-left: 0;}
	.store-list .col-50{margin-left: 0; width: 50%;}
	.store-list a.card{display: block; margin: 0; padding: .5rem; border-radius: 0; box-shadow: none; border-bottom: 1px solid #e7e7e7; border-right: 1px solid #e7e7e7;}
	.store-list a.card .card-header{width: 100%; margin: 0 auto; }
	.store-list a.card img{width: 100%; height: 170px;}
	.store-list .card .card-content-inner{padding: .3rem; height: 2.2rem; color: #333}
</style>
<div class="page home" id="page-app-index">
	<span id="js-lat" class="hide">{$_GPC['lat']}</span>
	<span id="js-lng" class="hide">{$_GPC['lng']}</span>
	<header class="bar bar-nav">
		<a class="pull-right search-block" href="{php echo $this->createMobileUrl('hunt');}">
			<i class="fa fa-search"></i>
		</a>
		<h1 class="title">
			<a id="position" class="external" href="{php echo $this->createMobileUrl('location');}">{$_GPC['address']}</a>  <i class="fa fa-arrow-down-fill"></i>
		</h1>
	</header>
	{template 'nav'}
	<div class="content">
		{if !empty($slides)}
			<div class="swiper-container slide" data-space-between='0' data-pagination='.swiper-pagination' data-autoplay="2000">
				<div class="swiper-wrapper">
					{loop $slides $slide}
						<div class="swiper-slide" data-link="{$slide['link']}">
							<img src="{php echo tomedia($slide['thumb']);}"alt="">
						</div>
					{/loop}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		{/if}

		<div class="swiper-container category" data-space-between='0' data-pagination='.swiper-category-pagination' data-autoplay="0">
			<div class="swiper-wrapper">
				{loop $categorys_chunk $row}
					<div class="swiper-slide">
						<div class="row no-gutter nav">
							{loop $row $category}
								<div class="col-25">
									<a href="{$category['link']}">
										<img src="{php echo tomedia($category['thumb']);}" alt="{$category['title']}" />
										<div class="text-center">{$category['title']}</div>
									</a>
								</div>
							{/loop}
						</div>
					</div>
				{/loop}
			</div>
			{if count($categorys_chunk) > 1}
				<div class="swiper-pagination swiper-category-pagination"></div>
			{/if}
		</div>

		{if $_W['we7_wmall_plus']['config']['imgnav_status'] == 1 && !empty($_W['we7_wmall_plus']['config']['imgnav_data'])}
			<div class="row no-gutter sborder activity">
				{loop $_W['we7_wmall_plus']['config']['imgnav_data'] $i $nav}
					<div class="col-50 sborder">
						<a href="{$nav['link']}">
							<div class="row no-gutter">
								{if $i % 2 == 0}
									<div class="col-60">
										<div class="heading">{$nav['title']}</div>
										<div class="sub-heading">{$nav['tips']}</div>
									</div>
									<div class="col-40 text-center">
										<img src="{php echo tomedia($nav['img']);}" alt="" />
									</div>
								{else}
									<div class="col-40 text-center">
										<img src="{php echo tomedia($nav['img']);}" alt="" />
									</div>
									<div class="col-60">
										<div class="heading">{$nav['title']}</div>
										<div class="sub-heading">{$nav['tips']}</div>
									</div>
								{/if}
							</div>
						</a>
					</div>
					{php $i++}
				{/loop}
			</div>
		{/if}
		<div class="store-list">
			<div class="row">
				{loop $goods $item}
					<div class="col-50">
						<a href="{php echo $this->createMobileUrl('near', array('key' => $item['keyword']));}" class="card">
							<div valign="bottom" class="card-header color-white no-border no-padding">
								<img class='card-cover' src="{php echo tomedia($item['thumb']);}" alt="">
							</div>
							<div class="card-content">
								<div class="card-content-inner">
									<p>{$item['title']}就阿卡卡卡就卡机看</p>
								</div>
							</div>
						</a>
					</div>
				{/loop}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=550a3bf0cb6d96c3b43d330fb7d86950"></script>
<script>
$(function(){
	$(document).on('click', '.swiper-slide', function(){
		var url = $(this).data('link');
		location.href = url;
		return;
	});

	function getLocation() {
		var map, geolocation;
		map = new AMap.Map('allmap');
		map.plugin('AMap.Geolocation', function() {
			geolocation = new AMap.Geolocation({
				enableHighAccuracy: true //是否使用高精度定位，默认:true
			});
			geolocation.getCurrentPosition();
			AMap.event.addListener(geolocation, 'complete', getPositionInfo);//返回定位信息
			AMap.event.addListener(geolocation, 'error', function(){alert('定位出错')});      //返回定位出错信息
		});
	}

	function getPositionInfo(data) {
		var point = data.position;
		$('#js-lat').html(point.lat);
		$('#js-lng').html(point.lng);
		var lnglatXY = [point.lng, point.lat]; //已知点坐标
		var map = new AMap.Map('allmap');
		map.plugin('AMap.Geocoder', function() {
			var geocoder = new AMap.Geocoder();
			geocoder.getAddress(lnglatXY, function(status, result) {
				if (status === 'complete' && result.info === 'OK') {
					var obj = result.regeocode.addressComponent;
					var position = result.regeocode.formattedAddress;
					position = position.replace(obj.province, '');
					position = position.replace(obj.district, '');
					position = position.replace(obj.city, '');
					$('#position').html(position);
				}
			});
		});
		getStoreList();
		return ;
	}

	function getStoreList() {
		var params = {
			lat: $('#js-lat').html(),
			lng: $('#js-lng').html()
		}
		$.post("{php echo $this->createMobileUrl('cindex', array('op' => 'list'));}", params, function(data){});
	}
	{if !$_GPC['d']}
		getLocation();
	{else}
		getStoreList();
	{/if}
});
</script>
{template 'common'}
{template 'footer'}