{template 'header'}
<div class="page my-page" id="page-app-mine">
	{template 'nav'}
	<div class="content">
		<div class="banner">
			<div class="avatar">
				{if !empty($user['avatar'])}
					<img src="{php echo tomedia($user['avatar']);}" alt="">
				{else}
					<img src="{MODULE_URL}resource/app/img/head.png" alt="">
				{/if}
			</div>
			<div class="name">
				<a href="{php echo $this->createMobileUrl('card');}">
					{$user['nickname']}
					{if $user['setmeal_id'] > 0 && $user['setmeal_endtime'] > TIMESTAMP}
					<img src="{MODULE_URL}resource/app/img/vip_effective.png" alt="">
					{else}
					<img src="{MODULE_URL}resource/app/img/vip_deprecated.png" alt="">
					{/if}
				</a>
			</div>
			<div class="table activity-nav">
				<div class="table-cell">
					<a href="{php echo $this->createMobileUrl('coupon', array('op' => 'list'));}">
						<div class="count">{$coupon_nums}</div>
						<div class="">代金券</div>
					</a>
				</div>
				<div class="table-cell">
					<a href="{php echo $this->createMobileUrl('favorite');}">
						<div class="count">{$favorite}</div>
						<div class="">收藏店铺</div>
					</a>
				</div>
				<div class="table-cell">
					<a href="{if $_W['member']['is_sys'] != 2}{php echo murl('entry/recharge/pay', array('m' => 'recharge'));}{else}javascript:;{/if}">
						<div class="count">{php echo floatval($user['credit2'])}</div>
						<div class="">余额</div>
					</a>
				</div>
				<div class="table-cell">
					<a href="{php echo murl('entry/recharge/pay', array('m' => 'recharge'));}">
						<div class="count">{php echo floatval($user['credit1'])}</div>
						<div class="">积分</div>
					</a>
				</div>
			</div>
		</div>
		<div class="grid-nav grid-money border-1px-tb">
			<div class="grid-money-title border-1px-b">
				商家管理
				{if $_W['we7_wmall_plus']['config']['version'] == 1 && $config_settle['status'] == 1}
					<a href="{php echo $this->createMobileUrl('settle');}">商家入驻,轻松提现</a> <i class="fa fa-arrow-right"></i>
				{/if}
			</div>
			<div class="row no-gutter">
				<div class="col-33">
					<a href="{php echo $this->createMobileUrl('mgindex');}" class="external">
						<img src="{MODULE_URL}resource/app/img/mypage_messages.png" alt="" />
						<span>店员入口</span>
					</a>
				</div>
				<div class="col-33">
					<a href="{php echo $this->createMobileUrl('dyindex');}">
						<img src="{MODULE_URL}resource/app/img/mypage_messages.png" alt="" />
						<span>配送员入口</span>
					</a>
				</div>
				{if $_W['we7_wmall_plus']['config']['version'] == 1 && $config_settle['status'] == 1}
					<div class="col-33">
						<a href="{php echo $this->createMobileUrl('settle');}">
							<img src="{MODULE_URL}resource/app/img/mypage_settle.png" alt="" />
							<span>商户入驻</span>
						</a>
					</div>
				{/if}
			</div>
		</div>
		<div class="grid-nav">
			<div class="row no-gutter border-1px-t">
				<div class="col-25">
					<a href="{php echo $this->createMobileUrl('coupon');}" class="border-1px-r">
						<img src="{MODULE_URL}resource/app/img/mypage_token.png" alt="" />
						<span>我的代金券</span>
					</a>
				</div>
				<div class="col-25">
					<a href="{php echo $this->createMobileUrl('address');}" class="border-1px-r">
						<img src="{MODULE_URL}resource/app/img/mypage_location.png" alt="" />
						<span>我的地址</span>
					</a>
				</div>
				<div class="col-25">
					<a href="{php echo $this->createMobileUrl('favorite');}" class="border-1px-r">
						<img src="{MODULE_URL}resource/app/img/mypage_star.png" alt="" />
						<span>我的收藏</span>
					</a>
				</div>
				<div class="col-25">
					<a href="{php echo $this->createMobileUrl('comment');}" class="">
						<img src="{MODULE_URL}resource/app/img/mypage_comment.png" alt="" />
						<span>我的评价</span>
					</a>
				</div>
			</div>
			<div class="row no-gutter border-1px-tb">
				{if $config_delivery['card_apply_status'] == 1}
					<div class="col-25">
						<a href="{php echo $this->createMobileUrl('card');}" class="border-1px-r">
							<img src="{MODULE_URL}resource/app/img/mypage_vip.png" alt="" />
							<span>配送会员卡</span>
						</a>
					</div>
				{/if}
				<div class="col-25 hide">
					<a href="{php echo $this->createMobileUrl('share');}" class="border-1px-r">
						<img src="{MODULE_URL}resource/app/img/mypage_share.png" alt="" />
						<span>分享有礼</span>
					</a>
				</div>
				{if $_W['member']['is_sys'] != 2}
					<div class="col-25">
						<a href="{php echo murl('entry/recharge/pay', array('m' => 'recharge'));}" class="border-1px-r">
							<img src="{MODULE_URL}resource/app/img/mypage_credit.png" alt="" />
							<span>余额充值</span>
						</a>
					</div>
				{/if}
				<div class="col-25">
					<a href="{php echo $this->createMobileUrl('help');}" class="border-1px-r">
						<img src="{MODULE_URL}resource/app/img/mypage_problem.png" alt="" />
						<span>常见问题</span>
					</a>
				</div>
			</div>
		</div>
		<div class="service-tel">
			<a href="tel:{$_W['we7_wmall_plus']['config']['mobile']}" class="color-danger border-1px-tb">客服热线: {$_W['we7_wmall_plus']['config']['mobile']}</a>
		</div>
	</div>
</div>
{template 'common'}
{template 'footer'}