<nav class="bar bar-tab footer-bar sborder {if $_GPC['do'] == 'goods'}hide{/if}">
	<a class="tab-item external {if in_array($do, array('index'))}active{/if}" href="{php echo $this->createMobileUrl('index');}">
		<span class="icon icon-index" style="background: none;"></span>
		<span class="tab-label">首页</span>
	</a>
	{if $_W['we7_wmall_plus']['config']['version'] == 1}
		<a class="tab-item {if in_array($do, array('search'))}active{/if}" href="{php echo $this->createMobileUrl('search', array('force' => 1));}">
			<span class="icon icon-found"></span>
			<span class="tab-label">附近</span>
		</a>
		{if MODULE_FAMILY != 'basic'}
			<a class="tab-item {if in_array($do, array('errander-index'))}active{/if}" href="{php echo $this->createMobileUrl('errander-index');}">
				<span class="icon icon-errander"></span>
				<span class="tab-label">跑腿</span>
			</a>
		{else}
			<a class="tab-item {if in_array($do, array('hunt'))}active{/if}" href="{php echo $this->createMobileUrl('hunt');}">
				<span class="icon icon-search"></span>
				<span class="tab-label">搜索</span>
			</a>
		{/if}
	{/if}
	<a class="tab-item {if in_array($do, array('order'))}active{/if}" href="{php echo $this->createMobileUrl('order');}">
		<span class="icon icon-order"></span>
		<span class="tab-label">订单</span>
	</a>
	<a class="tab-item {if in_array($do, array('address', 'mine', 'favorite'))}active{/if}" href="{php echo $this->createMobileUrl('mine');}">
		<span class="icon icon-mine"></span>
		<span class="tab-label">我的</span>
	</a>
</nav>
{if empty($_W['fans']['follow']) && $_W['we7_wmall_plus']['config']['follow_guide_status'] == 1 && in_array($_GPC['do'], array('index', 'goods', 'mine'))}
<div class="follow-tips">
	<div class="info">
		<div class="logo"><img src="{php echo tomedia($_W['we7_wmall_plus']['config']['thumb']);}" alt=""></div>
		<div class="txt"><p>欢迎进入{$_W['we7_wmall_plus']['config']['title']}<br>关注公众号，享专属服务</p></div>
	</div>
	<div class="text-btn"><a href="{$_W['we7_wmall_plus']['config']['followurl']}">立即关注</a></div>
</div>
{/if}
