{template 'common/header'}
<style>
    .table tbody tr td{
        vertical-align: middle;
        text-align: center;
    }
</style>
<hr>
<table class="table table-striped table-hover table-bordered">
    <thead>

    <tr>
        <th>序号</th>
        <th>用户姓名</th>
        <th>用户电话</th>
        <th>留言详情</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    {loop $res $index $item}
    <tr>
        <td>{$item['id']}</td>
        <td>{$item['guestname']}</td>
        <td>{$item['guestphone']}</td>
        <td> {php echo strip_tags($item['guestcontent'])}</td>

        <td>

            <a href="{php echo $_SERVER['REQUEST_URI']."&type=delect&id=".$item['id'];}" class="btn btn-danger" onClick="return confirm('您确定要删除序号为{$item['id']}的留言吗?');">删除</a>
        </td>
    </tr>
    {/loop}
    </tbody>

</table>
{$pager}




{template 'common/footer'}