<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loding……</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../addons/n1ce_redcode/template/style/css/light7.min.css">
    <link rel="stylesheet" href="../addons/n1ce_redcode/template/style/css/weui/weui.css">
    <link rel="stylesheet" href="../addons/n1ce_redcode/template/style/css/iconfont.css">
    <link rel="stylesheet" href="../addons/n1ce_redcode/template/style/css/common.css">
<script type='text/javascript' src='../addons/n1ce_redcode/template/style/js/jquery.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='../addons/n1ce_redcode/template/style/js/global.js' charset='utf-8'></script>
    <script type='text/javascript' src='../addons/n1ce_redcode/template/style/js/laytpl.js' charset='utf-8'></script>
    <script type='text/javascript' src='../addons/n1ce_redcode/template/style/js/jquery.lazyload.js' charset='utf-8'></script>
		<script type='text/javascript' src='../addons/n1ce_redcode/template/style/js/light7.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='../addons/n1ce_redcode/template/style/js/swiper.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='../addons/n1ce_redcode/template/style/js/light7-city-picker.js' charset='utf-8'></script>
</head>
<body> <style>
.center{position: absolute;top: 50%;left: 50%;background-color: white;width:85%;height: 23rem;-webkit-transform: translateX(-50%) translateY(-50%);border-radius: .2rem;}
.list-block ul:before{background-color: rgba(231, 231, 231, 0)!important;}
</style>
<div class="page-group">
	<div class="page page-current">
		<div class="content native-scroll" style="background: #353535;">
    		<div class="center">
    			<div class="list-block media-list" style="margin: .2rem 0 0 0;">
			      <ul>
			        <li>
			          <a href="#" class="item-link item-content">
			            <div class="item-media"><img src="{$fansinfo['headimgurl']}" width="70" style="border: 1px solid #D9D9D9;border-radius: .4rem;"></div>
			            <div class="item-inner" style="padding-top: .95rem;">
			              <div class="item-title-row">
			                <div class="item-title">{$fansinfo['nickname']}</div>
			              </div>
			              <div class="item-subtitle">关注公众号，查看奖励结果</div>
			            </div>
			          </a>
			        </li>
			      </ul>
			    </div>
    			<img src="{$qrcodedesc}" style="width: 100%;margin-top: ;"/>
    			<h1 style="font-size: .85rem;font-weight: 500;color: #3d4145;text-align: center;margin: 0;">长按二维码，关注公众号</h1>
    		</div>
		</div>
	</div>
</div>
{php echo register_jssdk(false);}
<script type="text/javascript">
	
    wx.ready(function () {
		
		//隐藏所有非基本类图标
		wx.hideAllNonBaseMenuItem();
    });
</script>
</body>
</html>