{template 'common/header'}

<ul class="nav nav-tabs">
	<li {if $operation == 'display'} class="active" {/if}><a href="{php echo $this->createWebUrl('zdhf',array('op' =>'display'))}">自动回复列表</a></li>
	<li{if empty($zdhf['id']) && $operation == 'post'} class="active" {/if}><a href="{php echo $this->createWebUrl('zdhf',array('op' =>'post'))}">添加自动回复</a></li>
	{if !empty($zdhf['id']) &&  $operation == 'post'}<li  class="active"><a href="{php echo $this->createWebUrl('zdhf',array('op' =>'post','id'=>$zdhf['id']))}">编辑自动回复</a></li>{/if}
</ul>

{if $operation == 'display'}
<div class="main panel panel-default">
	<div class="panel-body table-responsive">
		<div class="alert alert-danger">添加自动回复后，如需启用请至参数配置中开启自动回复功能！</div>
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th width="20%">标题</th>
					<th width="50%">内容</th>
					<th style="text-align:right;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $zdhf}
				<tr>
					<td><span class="label label-success">{$zdhf['title']}</span></td>
					<td>{$zdhf['content']}</td>
					<td style="text-align:right;">
						<a href="{php echo $this->createWebUrl('zdhf', array('op' => 'post', 'id' => $zdhf['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="修改"><i class="fa fa-edit"></i></a>
						<a href="{php echo $this->createWebUrl('zdhf', array('op' => 'delete', 'id' => $zdhf['id']))}"class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认删除？');return false;" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	{$pager}
</div>
<script>

</script>
{elseif $operation == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit='return formcheck()'>
		<input type="hidden" name="id" value="{$zdhf['id']}" />
		<div class="panel panel-default">
			<div class="panel-heading">自动回复设置</div>
			<div class="panel-body">

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">标题</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="title" class="form-control" value="{$zdhf['title']}" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">匹配类型</label>
					<div class="col-sm-9 col-xs-12">
						<label for="type1" class="radio-inline"><input name="type" value="1" id="type1" {if $zdhf['type'] == 1}checked="true"{/if} type="radio"> 精确</label>
						&nbsp;&nbsp;&nbsp;
						<label for="type2" class="radio-inline"><input name="type" value="2" id="type2" {if $zdhf['type'] == 2}checked="true"{/if} type="radio"> 包含</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">自动回复内容</label>
					<div class="col-sm-9 col-xs-12">						
						<textarea type="text" name="content" style="height:200px;" class="form-control">{$zdhf['content']}</textarea>
					</div>
				</div>
				
				
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script>
$(function(){

})
</script>
{/if}
{template 'common/footer'}