{template 'delivery/template'}
<script>
$(function(){
	$(document).on("pageInit", "#page-delivery-order", function(e, id, page) {
		var loading = false;
		$(page).on('infinite', '.infinite-scroll',function() {
			var $this = $(this);
			var id = $this.attr('data-min');
			if(!id) return;
			if (loading) return;

			loading = true;
			$this.find('.infinite-scroll-preloader').removeClass('hide');
			$.post("{php echo $this->createMobileUrl('dyorder', array('op' => 'more', 'status' => $status))}", {id: id, time: timeStamp}, function(data){
				var result = $.parseJSON(data);
				$this.attr('data-min', result.message.min);

				if(!result.message.min) {
					$.detachInfiniteScroll($('.infinite-scroll'));
					$('.infinite-scroll-preloader').remove();
					return;
				}
				$this.find('.infinite-scroll-preloader').removeClass('hide');
				var gettpl = $('#tpl-order').html();
				loading = false;
				laytpl(gettpl).render(result.message.message, function(html){
					$this.find('.order-list ul').append(html);
				});
			});
		});
	});

	$(document).on("click", ".order-success", function() {
		var id = $(this).data('id')
		if(!id) {
			return false;
		}
		var pay_type = $(this).data('pay-type');
		var delivery_type = $(this).data('delivery-type');
		var fee = $(this).data('fee');
		var info = '确认已将该订单送达?';
		if(pay_type == 'delivery' && delivery_type == 2) {
			info = '本单属于货到付款单,请收取顾客' + fee + '元';
		}
		$.confirm(info, function(){
			$.post("{php echo $this->createMobileUrl('dyorder', array('op' => 'success'))}", {id: id}, function(data){
				var result = $.parseJSON(data);
				if(result.message.errno != 0) {
					$.toast(result.message.message);
				} else {
					$.toast(result.message.message, location.href);
				}
			});
		})
		return false;
	});

	$(document).on("click", ".order-notice", function() {
		var id = $(this).data('id')
		if(!id) {
			return false;
		}
		$.confirm('确定通知下单人你已到达送餐地址吗', function(){
			$.post("{php echo $this->createMobileUrl('dyorder', array('op' => 'notice'))}", {id: id}, function(data){
				var result = $.parseJSON(data);
				if(result.message.errno != 0) {
					$.toast(result.message.message);
				} else {
					$.toast('通知成功');
				}
			});
		});
		return false;
	});

	$(document).on("click", ".scanqrcode", function() {
		wx.ready(function(){
			wx.scanQRCode({
				needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
				scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
				success: function (res) {
					var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
				}
			});
		});
	});
	$.init();
});
</script>