<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{$_W['we7_wmall_plus']['config']['title']}-{$title}</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../addons/we7_wmall_plus/resource/app/css/light7.min.css">
		<link rel="stylesheet" href="../addons/we7_wmall_plus/resource/app/css/iconfont.css" />
		<link rel="stylesheet" href="../addons/we7_wmall_plus/resource/app/css/delivery.css" />
		<script type='text/javascript' src='../addons/we7_wmall_plus/resource/app/js/jquery-2.2.1.min.js' charset='utf-8'></script>
		<script>
			$.config = {router: false}
		</script>
		<script type='text/javascript' src="../addons/we7_wmall_plus/resource/app/js/laytpl.dev.js"></script>
		<script type='text/javascript' src='../addons/we7_wmall_plus/resource/app/js/light7.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='../addons/we7_wmall_plus/resource/app/js/i18n/cn.js' charset='utf-8'></script>
		<script type="text/javascript" src="../addons/we7_wmall_plus/resource/app/js/light7-swiper.min.js"></script>
		<script type="text/javascript" src="../addons/we7_wmall_plus/resource/app/js/common.js"></script>
	</head>
	<body>
	{php echo register_jssdk(false);}
