{template 'weheader'}
<style>
.dayu-header {padding: 25px 0;}
.dayu-title {text-align: center;font-size: 25px;color: #3cc51f;font-weight: 400;margin: 0;}
.dayu-sub-title {color: #888;padding:0 10px;font-size: 14px;text-indent:2em;}
.dayu-content-padded {padding: 15px;}
.dayu-second-title {text-align: center;font-size: 24px;color: #3cc51f;font-weight: 400;margin: 0 15%;}

.weui_grid {padding: 10px 10px;width: 33.33333333%;}
.weui_grid_icon {width: 100%;height: 18px;margin: 0 auto;}
.weui_cell_ft i{padding:3px;width:15px;height:15px;}
</style>
	<div class="weui_tab_bd">
		<div class="weui_panel weui_panel_access" style="margin:0;">
			<div class="weui-img-box" style="height:10rem;">
				<div class="m-img" style="position:relative;">
					<img src="{if !empty($setting['memberbg'])}{php echo tomedia($setting['memberbg'])}{else}resource/images/head-bg.png{/if}" class="img-max" style="width:100%;">
				</div>
			</div>
			<div class="weui_panel_bd" style="position:absolute;bottom:0;width:100%;">
				<div class="weui_media_box weui_media_small_appmsg">
					<div class="weui_cells weui_cells_access" style="background:rgba(255,255,255,.5);height:32px;line-height:12px;">
						<div class="weui_cell">
							<div class="weui_cell_hd" style="width:75px;">
							</div>
							<div class="weui_cell_bd weui_cell_primary -wrap ell">
								<small class="">{$profile['resideprovince']}{$profile['residecity']}{$profile['residedist']}{$profile['address']}</small>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="weui_panel_bd" style="position:absolute;bottom:0;overflow: hidden;">
                <a class="weui_media_box weui_media_appmsg" href="{php echo $this->createMobileUrl('profile', array('from' => $returnUrl))}">
                    <div class="weui_media_hd">
                        <img class="weui_media_appmsg_thumb img-border bs" src="{$avatar}" alt="">
                    </div>
                    <div class="weui_media_bd weui_cell_primary">
                        <h4 class="weui_media_title">
							<span class="ts f25">{$_W['member']['realname']}</span>
							<span class="f18 ts" style="margin-left:10px;">{$_W['member']['mobile']}</span>
						</h4>
                    </div>
                </a>
            </div>
		</div>
	{if !empty($list)}
		<div class="weui_panel" style="margin-top:10px;">
            <div class="weui_panel_bd">
                <div class="weui_media_box weui_media_small_appmsg">
                    <div class="weui_cells weui_cells_access">
					{loop $list $item}
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><img src="{if !empty($item['icon'])}{php echo tomedia($item['icon'])}{else}data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII={/if}" alt="" style="width:20px;margin-right:5px;display:block"></div>
                            <a class="weui_cell_bd weui_cell_primary f-black" href="{php echo $this->createMobileUrl('mydayu_yuyuepay', array('id' => $item[reid]))}">
                                <p class="-wrap ell">{$item['title']}</p>
                            </a>
                            <div class="weui_cell_ft f12 f-red">{$item['form']}</div>
                        </div>
					{/loop}
                    </div>
                </div>
            </div>
        </div>
	{else}
			<div class="weui_msg f-gray"><svg class="icon f22" aria-hidden="true"><use xlink:href="#icon-xiangqing"></use></svg> 没有提交记录</div>
	{/if}
		
		
	</div>
	
{template 'footers'}