
.page_top_item span{
    width: 30%;
    line-height: 25px;
    border-radius: 3px;
    border: 1px solid #ff5f27;
    margin-top: 7px;
    text-align: center;
    color: #ff5f27;
    display: inline-block;
}
 .bigguy_recom{
	margin-top:5px;
	background:#fff;
	padding: 10px 0;
    overflow: hidden;
    overflow-x: scroll;	
}
.bigguy_recom img{
    width: 50px;
    height: 50px;
	border-radius:50%;
}
.bigguy_recom ul{
    white-space: nowrap;	
}
.bigguy_recom li{
    width: 22.5%;
	text-align:center;
    display: inline-block;	
}
.bigguy_sort{
    background: #fff;
    margin-top: 5px;
}
.weui_media_box {
	padding:5px 10px 5px 10px;
}
.weui_media_box.weui_media_appmsg .weui_media_hd {
    margin-right: .8em;
    width: 60px;
	height:60px;
	height:auto;
}
.weui_media_box.weui_media_appmsg .weui_media_bd {
    -webkit-box-flex: 1;
    -webkit-flex:  1;
    -ms-flex:  1;
    flex: 1;
}
.authicon img:nth-of-type(2) {
    left: 37px;
	top: 2px;
}
.guylist_top{
    margin-bottom: 5px;
    background: #fff;
}
.guylist_list .weui_media_box {
    background: #fff;
    margin-bottom: 5px;
}







