<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>和小程序用户的对话</title>
	<link rel="stylesheet" href="{MD_ROOT}static/iconfont/iconfont.css?v=20171128"/>
	<link rel="stylesheet" href="{MD_ROOT}static/css/weui.min.css"/>
	<link rel="stylesheet" href="{MD_ROOT}static/css/jquery-weui.min.css"/>
	<link rel="stylesheet" href="{MD_ROOT}static/newui/css/common.css?v=20180804"/>
	<link rel="stylesheet" href="{MD_ROOT}/emoji/emoji.css"/>
	<link rel="stylesheet" href="{MD_ROOT}static/newui/css/swiper-3.3.1.min.css"/>
	{php echo register_jssdk(false);}
    <script>
        var deviceWidth = document.documentElement.clientWidth;
        document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
    </script>
	<style>
	body,html,#messibox{width:100%;height:100%;background:#f5f5f5;}
	
	#chatcon .right .con .concon{background:{php echo $this->module['config']['temcolor']};}

	#messifooter .docomment{background:{php echo $this->module['config']['temcolor']};margin-left:0.1rem;}
	#chatcon .right .con .triangle-right{border-left:0.15rem solid {php echo $this->module['config']['temcolor']};}
	
	.weui-dialog__btn{color:{php echo $this->module["config"]['temcolor']};}
	.weui-photo-browser-modal{z-index:99;}
	</style>
</head>

<body style="background-color:{php echo $this->module['config']['bgcolor']};">
{if $_SERVER['HTTP_REFERER']}
<div class="back2 iconfont" onclick="history.go(-1)">&#xe612;</div>
{/if}
<div id="messibox" class="flex">

{if $total > 10}
<div class="loadmore loadactive">点击加载更多记录</div>
{/if}

<div id="chatcon" class="messibox flex1">
	{loop $chatcon $row}
		{if !empty($row['time'])}
		<div class="time text-c">{php echo date('Y-m-d H:i:s',$row['time'])}</div>
		{/if}
		{if $row['openid'] != $openid}
			<div class="left flex">
				<img src="{MD_ROOT}static/xcx.png" class="avatar" />
				<div class="con flex flex1">
					<div class="triangle-left"></div>
					{if $row['msgtype'] == 'image'}
						<div class="concon"><img src="{$row['content']}" class="sssbbb" /></div>
					{/if}
					{if $row['msgtype'] == 'text'}
						<div class="concon">{$row['content']}</div>
					{/if}
					<div class="flex1"></div>
				</div>
			</div>
		{else}
			<div class="right flex">
				<img src="{$hasfanskefu['kefuavatar']}" class="avatar" />
				<div class="con flex flex1">
					<div class="triangle-right"></div>
					{if $row['msgtype'] == 'image'}
						<div class="concon"><img src="{$row['content']}" class="sssbbb" /></div>
					{/if}
					{if $row['msgtype'] == 'text'}
						<div class="concon">{$row['content']}</div>
					{/if}
					<div class="flex1"></div>
				</div>
			</div>
		{/if}
	{/loop}
</div>

<div id="messifooter" class="flex">
	<div class="quick iconfont" style="line-height:0.7rem;">&#xe63d;</div>
	<div class="input" style="flex:1;">
		<div class="flex1 flex">
			<textarea id="chatcontent" onkeydown="KeyDown(event)" wrap="virtual" placeholder="请输入咨询内容..."></textarea>
		</div>
	</div>
	<div class="docomment">发送</div>
</div>
</div>


<!--快捷消息-->
<div class="fx-quick hide meixialert">
	<div class="title">选择快捷消息</div>
	<div class="alertcon">
		{if empty($kefuauto)}
			<div class="noadata">暂无快捷消息</div>
		{else}
			{loop $kefuauto $fansrow}
				<div class="con-item can">{$fansrow}</div>
			{/loop}
		{/if}
	</div>
</div>

<div class="blackbg hide"></div>

<!--loading页开始-->
<div class="loading hide">
	<div class="loader">正在发送...</div>
</div>
<!--loading页结束-->
</body>
<script src="{MD_ROOT}/static/newui/js/socket.io.js"></script>
<script src="{MD_ROOT}/static/newui/js/jquery-3.1.1.min.js"></script>
<script src="{MD_ROOT}/static/newui/js/jquery-weui.min.js"></script>
<script src="{MD_ROOT}static/newui/js/swiper.min.js"></script>
<script>
	var overscroll = function (els) {
		for (var i = 0; i < els.length; ++i) {
			var el = els[i];
			el.addEventListener('touchstart', function () {
				var top = this.scrollTop
					, totalScroll = this.scrollHeight
					, currentScroll = top + this.offsetHeight;
				if (top === 0) {
					this.scrollTop = 1;
				} else if (currentScroll === totalScroll) {
					this.scrollTop = top - 1;
				}
			});
			el.addEventListener('touchmove', function (evt) {
				if (this.offsetHeight < this.scrollHeight)
					evt._isScroller = true;
			});
		}
	};

	//禁止body的滚动事件
	document.body.addEventListener('touchmove', function (evt) {
		if (!evt._isScroller) {
			evt.preventDefault();
		}
	});

	//给class为.content的元素加上自定义的滚动事件
	overscroll(document.querySelectorAll('.messibox'));
	overscroll(document.querySelectorAll('.alertcon'));

	var uid = "{$openid}";
	var touid = "{$hasfanskefu['fansopenid']}";
	var fkid = "{$hasfanskefu['id']}";
	var cansend = 1;
    $(function(){
		domInit();
		//连接服务端
		var socket = io('https://api.qiumipai.com:2120');
		// 连接后登录
		socket.on('connect', function(){
			socket.emit('login',{'uid':uid,'fkid':fkid});
		});
		
		socket.on('new_msg', function(msg){
			if(msg.toopenid == touid){
				var returnmsg = replace_em(msg.content);
				returnmsg = '<div class="time text-c">'+msg.datetime+'</div>'
							+'<div class="left flex">'
								+'<img src="{MD_ROOT}static/xcx.png" class="avatar" />'
								+'<div class="con flex flex1">'
									+'<div class="triangle-left"></div>'
									+returnmsg
									+'<div class="flex1"></div>'
								+'</div>'
							+'</div>';
				$('#chatcon').append(returnmsg).animate({scrollTop:100000},300);
				$.ajax({
					url:"{php echo $this->createMobileUrl('donotreadxcx')}",
					data:{
						fkid:fkid,
					},
					dataType:'json',
					type:'post',        
					success:function(data){
					},
				});
			}
		});
		

		
		// 后端推送来消息时
		/*socket.on('new_msg', function(msg){
			if(msg.toopenid == touid){
				var returnmsg = replace_em(msg.content);
				returnmsg = '<div class="time text-c">'+msg.datetime+'</div>'
							+'<div class="left flex">'
								+'<img src="{$hasfanskefu['fansavatar']}" class="avatar" />'
								+'<div class="con flex">'
								+'<div class="triangle-left"></div>'
								+returnmsg
								+'<div class="kongflex">'+msg.wwwddd+'</div>'
								+'</div>'
							+'</div>';
				$('#chatcon').append(returnmsg).animate({scrollTop:100000},300);
				$.ajax({
					url:"{php echo $this->createMobileUrl('donotread')}",
					data:{
						fkid:fkid,
						type:'kefu',
					},
					dataType:'json',
					type:'post',        
					success:function(data){
					},
				});
			}
		});*/
		
		
		$("#chatcon").on("click",".sssbbb", function() {
			$.ajax({
				url:"{php echo $this->createMobileUrl('getchatbigimgxcx')}",
				data:{
					fkid:{$hasfanskefu['id']},
					con:$(this).attr("src"),
				},
				dataType:'json',
				type:'post',        
				success:function(data){
					if(data.error == 0){
						var imglistjson = data.message.split(",");
						var pb = $.photoBrowser({
							items:imglistjson,
							initIndex:data.index,
						});
						pb.open();  //打开
					}
				},
			});
		});
		
		$("#chatcontent").click(function(){
			setTimeout(function(){
				$("#chatcontent").blur();
				$("#chatcontent").focus();
			},400);
		});

		{if $cservice['isautosub'] == 0}
		$('.fx-quick .can').click(function(){
			addchat($(this).text(),2,0);
			$('.fx-quick,.blackbg').addClass("hide");
		});
		{else}
		$('.fx-quick .can').click(function(){
			$('#chatcontent').val($('#chatcontent').val()+$(this).text());
			$('.fx-quick,.blackbg').addClass("hide");
			$(".blackbg").removeClass("hide");
		});
		{/if}

		
		$(".blackbg").on("click",function(){
			$(".fx-quick,.blackbg").addClass("hide");
		})
		
		$(".quick").on("click",function(){
			$(".fx-quick,.blackbg").removeClass("hide");
		})

        //点击发送按钮
        $(".docomment").on("mousedown",function(){
			addchat($("#chatcontent").val(),2,0);
        });
		
    });	
	
	//发送消息到数据库
	function addchat(content,type,yuyintime){
		if(cansend == 1){
			cansend = 0;
			$.ajax({   
				 url:"{php echo $this->createMobileUrl('addchatxcx')}",   
				 type:'post', 
				 data:{
					content:content,
					fkid:{$hasfanskefu['id']},
					type:type,
				 },
				 beforeSend:function(){
					$(".loading").removeClass("hide");
				 },
				 dataType:'json',
				 success:function(data){   
					if(data.error == 0){
						var returnmsg = data.content;									
						returnmsg = '<div class="time text-c">'+data.datetime+'</div>'
									+'<div class="right flex">'
										+'<img src="{$hasfanskefu['kefuavatar']}" class="avatar" />'
										+'<div class="con flex flex1">'
											+'<div class="triangle-right"></div>'
											+ returnmsg
											+'<div class="flex1"></div>'
										+'</div>'
									+'</div>';
						$('#chatcon').append(returnmsg).animate({scrollTop:10000000},300);
						$('#chatcontent').val("");	
					}else{
						$.alert(data.msg);
					}
					cansend = 1;
					$(".loading").addClass("hide");
				 }
			});
		}
	}
	
    function domInit(){
		$("#chatcon").animate({scrollTop:10000000},300);
    }
	function KeyDown(event){
		if (event.keyCode==13){
			event.returnValue=false;
			event.cancel = true;
			addchat($("#chatcontent").val(),2,0);
		}
	}

</script>
<script type="text/javascript">
var images = {
	localIds: [],
};
var voice = {
	localId: '',
	serverId: ''
};
$(function(){

})

//滚动加载
var loading = false;  //状态标记
var count = 2;
$(".loadactive").click(function(){
	if(loading) return;
	loading = true;
	if(count < {$allpage}){
		setTimeout(function() {
			$.ajax({
				url:"{php echo $this->createMobileUrl('servicechatajaxxcx')}",
				data:{
					page:count,
					fkid:{$hasfanskefu['id']},
				},
				dataType:'html',
				type:'post',        
				success:function(data){
					if(data != ''){
						$('#chatcon').prepend(data);
						$("#chatcon").animate({scrollTop:0},300);
						count++;
					}
					loading = false;
				},
			});
		}, 500);   //模拟延迟
	}else{
		$(".loadactive").addClass('hide').removeClass("loadactive");
	}
});
</script>
<script type="text/javascript">
wx.ready(function () {
	wx.hideOptionMenu();
});
</script>
<script type="text/javascript">
window.onpageshow = function(event){
	if (event.persisted) {
		window.location.reload();
	}
}
</script>
</html>