	<div class="panel panel-info">	
	    <div class="panel-heading">
			{if $_GPC['op'] != 'add' && $_GPC['op'] != 'admin'} <!-- 在保证金管理页面，当只看充值的和管理员变化的的时候，不显示筛选 -->
				<div class="input-group" style="display: inline-block;">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{if $_GPC['type']=='1'}充值
						{elseif $_GPC['type']=='2'}提取
						{elseif $_GPC['type']=='3'}管理员变化					
						{else}全部{/if}
						<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
						<li><a href="{php echo $this->createWebUrl($_GPC['do'],array('op'=>$_GPC['op'],'type'=>1,'uid'=>$_GPC['uid'],'status'=>$_GPC['status']))}">充值</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{php echo $this->createWebUrl($_GPC['do'],array('op'=>$_GPC['op'],'type'=>2,'uid'=>$_GPC['uid'],'status'=>$_GPC['status']))}">提取</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{php echo $this->createWebUrl($_GPC['do'],array('op'=>$_GPC['op'],'type'=>3,'uid'=>$_GPC['uid'],'status'=>$_GPC['status']))}">管理员变化</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{php echo $this->createWebUrl($_GPC['do'],array('op'=>$_GPC['op'],'type'=>4,'uid'=>$_GPC['uid'],'status'=>$_GPC['status']))}">退回提取</a></li>						
						<li role="separator" class="divider"></li>
						<li><a href="{php echo $this->createWebUrl($_GPC['do'],array('op'=>$_GPC['op'],'type'=>0,'uid'=>$_GPC['uid'],'status'=>$_GPC['status']))}">全部</a></li>
					  </ul>
					</div>
				</div>	
			{/if}	
				<div class="input-group" style="display: inline-block;margin-left:50px;">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{if $_GPC['order']=='money'}资金大小排序
						{elseif $_GPC['order']=='uid'}用户id排序					
						{else}最新排序{/if}
						<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
						<li><a href="{php echo $this->createWebUrl($_GPC['do'],array('op'=>$_GPC['op'],'type'=>$_GPC['type'],'uid'=>$_GPC['uid'],'status'=>$_GPC['status'],'order'=>'money'))}">资金大小排序</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{php echo $this->createWebUrl($_GPC['do'],array('op'=>$_GPC['op'],'type'=>$_GPC['type'],'uid'=>$_GPC['uid'],'status'=>$_GPC['status'],'order'=>'uid'))}">用户id排序</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{php echo $this->createWebUrl($_GPC['do'],array('op'=>$_GPC['op'],'type'=>$_GPC['type'],'uid'=>$_GPC['uid'],'status'=>$_GPC['status'],'order'=>'id'))}">最新排序</a></li>
					  </ul>
					</div>
				</div>					
		</div>
	    <div class="panel-body table-responsive">
			<table class="table">
				<thead class="navbar-inner">
					<div class="col-sm-3 col-lg-1" style="text-align:left;">
					<tr>				
						<th style="width:120px;">用户id</th>
						<th style="width:120px;">金额</th>
						<th style="width:120px;">变动后剩余</th>
						<th style="width:120px;">类型</th>
						<th style="width:150px;">时间</th>
					</tr>
				</thead>
				<tbody>
						{loop $depositinfo $item}
						<tr>
							<td><a target="_blank" href="{php echo $this->createWebUrl('userinfo',array('uid'=>$item['uid']))}">{$item['uid']}</a></td>
							<td>{$item['money']}</td>
							<td>{$item['aftermoney']}</td>
							{if $item['type'] == 1}
							<td><span class='label label-info'>充值</span></td>
							{elseif $item['type'] == 2}
							<td><span class='label label-success'>提取</span></td>
							{elseif $item['type'] == 3}
							<td><span class='label label-warning'>管理员变化操作</span></td>
							{elseif $item['type'] == 4}
							<td><span class='label label-warning'>退回提取</span></td>							
							{/if}
							<td>{php echo date("Y-m-d H:i",$item['time'])}</td>	
						</tr>
						{/loop}
				</tbody>
			</table>
		</div>
	</div>
	</div>
{$pager}