{template 'manage/header'}
<div class="page" id="page-manage-home">
	<header class="bar bar-nav common-bar-nav" style="border-bottom: 0">
		<h1 class="title">{$_W['we7_wmall_plus']['store']['title']}</h1>
	</header>
	{template 'manage/nav'}
	<div class="content">
		<div class="store-top">
			<p class="mdatals-tl">
				可用余额（元）
				<a href="{php echo $this->createMobileUrl('mgtrade', array('op' => 'getcash'));}">提现></a>
			</p>
			<div class="mdatals-sum">{$store['account']['amount']}</div>
		</div>
		<ul class="store-data">
			<li>
				<a href="javascript:;">
					<div class="store-data-sum">{$stat['total_order']}</div>
					<div class="store-data-info">今日总订单</div>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<div class="store-data-sum">{$stat['total_fee']}</div>
					<div class="store-data-info">今日总营业额</div>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<div class="store-data-sum">{$stat['final_fee']}</div>
					<div class="store-data-info">今日总收入</div>
				</a>
			</li>
		</ul>
		<ul class="store-cate">
			<li>
				<a href="{php echo $this->createMobileUrl('mgstore');}" class="shop">
					<p>店铺管理</p>
				</a>
			</li>
			<li>
				<a href="{php echo $this->createMobileUrl('mgorder');}" class="trades">
					<p>订单管理</p>
				</a>
			</li>
			<li>
				<a href="{php echo $this->createMobileUrl('mggoods');}" class="goods">
					<p>商品管理</p>
				</a>
			</li>
			<li>
				<a href="{php echo $this->createMobileUrl('mgcomment');}" class="trades">
					<p>评论管理</p>
				</a>
			</li>
			<li>
				<a href="{php echo $this->createMobileUrl('mgstat');}" class="data_analysis">
					<p>数据统计</p>
				</a>
			</li>
			<li>
				<a href="javascript:;" class="cards_verify" id="scanqrcode">
					<p>扫一扫</p>
				</a>
			</li>
		</ul>

	</div>
</div>
{template 'manage/common'}
{template 'manage/footer'}