        <div class="panel we7-panel">
            <div class="panel-heading">
                预约内容设置
            </div>
            <div class="panel-body table-responsive we7-padding">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">服务项目数量</label>
                    <div class="col-xs-12 col-sm-9">
						<input type="radio" name="is_num" id="is_num-1" value="1" {if $activity['is_num']=='1'}checked="checked"{/if}>
						<label class="radio-inline" for="is_num-1" onclick="$('#is_num').show();"> 启用</label>
						<input type="radio" name="is_num" id="is_num-0" value="0" {if $activity['is_num']=='0'}checked="checked"{/if} />
						<label class="radio-inline" for="is_num-0" onclick="$('#is_num').hide();"> 关闭</label>
                    </div>
                </div>
                <div class="alert-new">
					<table class="table table-hover">
						<thead>
						<tr>
							<th style="width:120px;" class="text-center">排序</th>
							<th style="width:300px;">自定义字段</th>
							<th style="width:50px;" class="text-left">必填</th>
							<th style="width:180px;" class="text-center text-danger">特殊属性</th>
							<th style="width:150px;" class="text-center">类型</th>
							<th style="width:150px;" class="text-center">关联会员数据</th>
							<th class="text-right" style="width:120px;">操作</th>
						</tr>
						</thead>
						<tr>
							<td>
								<span class="form-control" disabled>服务项目</span>
							</td>
							<td>
								<input type="text" name="xmname" class="form-control" value="{$par['xmname']}">
							</td>
							<td style="text-align:center;"><input type="checkbox" title="必填项" checked="checked" disabled="true"><label class="radio-inline"></label></td>
							<td style="text-align:center;"></td>
							<td>
								<span class="form-control" disabled>选择(select)</span>
							</td>
							<td class="text-center">
								<span class="form-control" disabled>不关联会员</span>
							</td>
							<td>
							</td>
						</tr>
						<tr id="is_num"{if $activity['is_num'] == 0} style="display:none"{/if}>
							<td>
								<span class="form-control" disabled>数量</span>
							</td>
							<td>
								<input type="text" name="numname" class="form-control" value="{$par['numname']}" placeholder="服务项目 × 数量">
							</td>
							<td style="text-align:center;"><input type="checkbox" title="必填项" checked="checked" disabled="true"><label class="radio-inline"></label></td>
							<td style="text-align:center;"></td>
							<td>
								<span class="form-control" disabled>数字(number)</span>
							</td>
							<td class="text-center">
								<span class="form-control" disabled>不关联会员</span>
							</td>
							<td>
							</td>
						</tr>
						<tr id="time"{if $activity['is_time'] == 1} style="display:none"{/if}>
							<td>
								<span class="form-control" disabled>预约时间</span>
							</td>
							<td>
								<input type="text" name="yuyuename" class="form-control" value="{$par['yuyuename']}">
							</td>
							<td style="text-align:center;"><input type="checkbox" title="必填项" checked="checked" disabled="true"><label class="radio-inline"></label></td>
							<td style="text-align:center;"></td>
							<td>
								<span class="form-control" disabled>时间(range)</span>
							</td>
							<td class="text-center">
								<span class="form-control" disabled>不关联会员</span>
							</td>
							<td>
							</td>
						</tr>
						<tbody id="re-items">
						{loop $ds $key $r}
						<tr>
							<td>
								<input type="text" name="displayorder[]" class="form-control" value="{$r['displayorder']}" />						
							</td>
							<td>
								<input name="title[]" type="text" class="form-control" value="{$r['title']}"/>				
							</td>
							<td class="text-center essential"><input name="essential[]" id="et-{$r['refid']}" type="checkbox" title="必填项" {if $r['essential']}checked="checked"{/if}><label class="radio-inline" for="et-{$r['refid']}"></label></td>
							<td>
								{if $r['type']=='image'}
								<div class="input-group re-image">
									<input type="text" name="image[]" value="{$r['image']}" class="form-control" autocomplete="off">
									{if !$hasData}<span class="input-group-btn">
										<button class="btn btn-default" type="button" onclick="showImageDialog(this);">示例图</button>
									</span>
									{/if}
								</div>
								{else}
									<input type="hidden" name="image[]" value="" class="form-control">
								{/if}
								{if $r['type']=='cami'}
									<select name="cami[]" id="cami" class="form-control">
										<option value="0">不使用卡密</option>
										{loop $kami $k}
										<option value="{$k['id']}" {if $k['id'] == $r['cami']}selected="selected"{/if}>{$k['title']}</option>
										{/loop}
									</select>
								{else}
									<input type="hidden" name="cami[]" value="0"/>
								{/if}
							</td>
							<td class="text-center">
								<select name="type[]" class="form-control" onchange="setClass(this,'f{$r['refid']}');">
									{loop $types $k $v}
									<option value="{$k}"{if $k == $r['type']} selected="selected"{/if}>{$v}</option>
									{/loop}
								</select>
							</td>
							<td class="text-center">
								<select name="bind[]" class="form-control">
									<option value="">不关联会员</option>
									{loop $fields $k $v}
									<option value="{$k}"{if $k == $r['bind']} selected="selected"{/if}>{$v}</option>
									{/loop}
								</select>
								<input type="hidden" name="value[]" value="{$r['value']}"/>
								<input type="hidden" name="desc[]" value="{$r['description']}"/>
								<input type="hidden" name="loc[]" value="{$r['loc']}"/>
								<input type="hidden" name="essentialvalue[]" value="{if $r['essential']}true{else}false{/if}"/>
							</td>
							<td class="text-right">
								{if !$hasData}
								<a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="设置详细信息" onclick="setValues(this);" class="btn btn-warning btn-sm">设置</a> 
								<a href="javascript:;" onclick="deleteItem(this)" data-toggle="tooltip" data-placement="bottom" title="删除此字段" class="btn btn-default btn-sm"><i class="fa fa-times"></i></a>
								{/if}
							</td>
						</tr>
						{/loop}
						</tbody>
					</table>
					<span class="help-block">请填写排序，导出CSV文件的标题与内容才能更好的对应</span>
					<div class="alert" style="padding:0;margin:0;">
						{if $hasData}
						<h3 class="text-danger">已经存在预约数据, 不能修改、添加自定义字段</h3>
						{else}
						<a href="javascript:;" class="btn btn-success" onclick="addItem();"><i class="fa fa-plus" title="添加自定义字段"></i> 添加自定义字段</a>
						{/if}
					</div>
				</div>
            </div>
        </div>
			<blockquote class="alert-danger">
				<p>预约成功启动以后(已经有粉丝用户提交表单信息), 将不能再修改自定义字段, 请认真、仔细编辑.</p>
				<small>如果需要关联生日，字段类型设置为日历，只能设置关联一次生日，超出报错。</small>
				<small>上传图片使用示例图请点击操作栏的 橙色按钮</small>
				<small>所有自定义字段支持自定义提示文字，请点击操作栏的 橙色按钮</small>
				<small class="text-danger">验证唯一：填写的内容在预约记录是唯一的不允许重复的，用于报名验证身份证等作用</small>
			</blockquote>
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h4>提示！</h4>已关联粉丝姓名、手机，无需再添加姓名、手机字段（见 <a href="#tab_skins">模板设置</a> - 获取粉丝资料）
			</div>