
	{if $fields['loc']>'0' && pdo_tableexists('dayu_form_plugin_radio')}
	<div class="weui_cells_title"><strong>{$fields['title']}</strong>{if $fields['essential']}<span>*</span>{/if}</div>
	<div class="weui_cells weui_cells_checkbox">
		<div class="weui_grids">
			{php $i=1;}
			{loop $fields['dayu_radio'] $v}
				<label class="weui_grid js_grid weui_check_label" for="r{$fields['refid']}{$i}">
					<div class="weui_grid_icon">
						<img class="img-radius img-max center" src="{php echo tomedia($v['thumb'])}" alt="{$v['title']}" style="height:90px;width:auto;">
					</div>
					<p class="weui_grid_label">
						<span class="left"><input type="radio" class="weui_check" name="field_{$fields['refid']}_{$fields['bind']}" id="r{$fields['refid']}{$i}" value="{$v['title']}" {if $i==1}checked="checked"{/if}><i class="weui_icon_checked"></i></span>
						<span class="right">{$v['title']}</span>
					</p>
				</label>
			{php $i++;}
			{/loop}
		</div>
	</div>
	{elseif $fields['loc']=='-1'}
	    <div class="weui_cells_title weui_cell f-black" style="padding:10px 15px 0px;margin:0;"><label class="weui_label {if $fields['essential']}weui-start{/if}">{$fields['title']}{if !empty($fields['description'])}<small class="block">{$fields['tixing']}</small>{/if}</label></div>
		<div class="weui-form">
			{loop $fields['options'] $key $v}
			<div class="weui-form-li">
				<input class="weui-form-checkbox" name="field_{$fields['refid']}_{$fields['bind']}" id="r{$fields['refid']}{$key}" value="{$v}" type="radio"> 
				<label for="r{$fields['refid']}{$key}">
					<i class="weui-icon-radio"></i>
					<div class="weui-form-text"><p>{$v}</p></div>
				</label>
			</div>
			{/loop}
		</div>
	{else}
		<div class="weui_cell">
			<div class="weui_cell_hd"><label for="name" class="weui_label">{$fields['title']}{if $fields['essential']}<span>*</span>{/if}</label></div>
			<div class="weui_cell_bd weui_cell_primary">
				<input type="text" class="weui_input" id="{$fields['refid']}" name="field_{$fields['refid']}_{$fields['bind']}" placeholder="{$fields['tixing']}" value="" {if $fields['essential']}required tips="{$fields['tixing']}"{/if}>
			</div>
			<div class="weui_cell_ft"></div>
		</div>
		<script>
		  $("#{$fields['refid']}").select({
			title: "{$fields['title']}",
			items: [
			{loop $fields['options'] $v}
			"{$v}",
			{/loop}
			],
			onChange: function(d) {
			console.log(this, d);
			}
		  });
		</script>
	{/if}